* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS"
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0ebdf;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    gap: 25px;
}

#prompt-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

#prompt {
    height: 75px;
    background-color: #fcf7ea;
    border: 2px solid #ffabab;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

#color-selector {
    width: 80%;
}

#color-select {
    height: 30px;
}

#confirm-color {
    width: 100px;
}

#clear-button {
    width: 100px;
} 

#main-menu {
    width: 100px;
}

#drawing {
    display: flex;
    gap: 50px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

#colors {
    background-color: #fcf7ea;
    height: 75%;
    border: 2px solid #ffabab;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-button {
    height: 50px;
    width: 90%;
    border-radius: 10px;
}

#red1 {
    background-color: #857885;
}
#red2 {
    background-color: #C25C63;
}
#red3 {
    background-color: #E14E52;
}
#red4 {
    background-color: #FF4040;
}

#green1 {
    background-color: #858476;
}
#green2 {
    background-color: #97C25B;
}
#green3 {
    background-color: #A0E14E;
}
#green4 {
    background-color: #A9FF40;
}

#yellow1 {
    background-color: #858476;
}
#yellow2 {
    background-color: #C2B35B;
}
#yellow3 {
    background-color: #E1C94E;
}
#yellow4 {
    background-color: #FFE240;
}

#blue1 {
    background-color: #857885;
}
#blue2 {
    background-color: #635CC2;  
}
#blue3 {
    background-color: #524EE1;
}
#blue4 {
    background-color: #4040FF;
}

#brush-size {
    background-color: #fcf7ea;
    border: 2px solid #ffabab;
    border-radius: 10px;
    /* border-top: 2px solid #ffabab; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.size {
    border: 2px solid #89c1d9;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size:hover {
    background-color: #ffabab;
}

#small-size {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

#medium-size {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

#large-size {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

button {
    height: 50px;
    font-size: 20px;
    border: 2px solid #89c1d9;
    background-color: #fcf7ea;
    border-radius: 10px;
}

button:hover {
    background-color: #ffabab;
    color: white;
}

canvas {
    background-color: #fcf7ea;
    border: 2px solid #89c1d9;
    border-radius: 10px;
}