* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS"
}

body {
    background-color: #fcf7ea;
    height: 100vh;
    width: 100vw;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/background4.png');
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-position: center;
    gap: 50px;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 24px;
}

.player {
    border: 2px solid #ffabab;
    padding: 25px;
}

#content {
    display: flex;
    gap: 50px;
}

h1 {
    font-size: 72px;
}

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

button{
    height: 150px;
    font-size: 48px;
    border: 2px solid #89c1d9;
    background-color: #f0ebdf;
    border-radius: 10px;
    width: 400px;

}

button:hover {
    background-color: #ffabab;
    color: white;
}