* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS"
}

body {
    background-color: #fcf7ea;
    height: 100vh;
    width: 100vw;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0ebdf;
}