* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS"
}

body {
    background-color: #fcf7ea;
    height: 100vh;
    width: 100vw;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/background2.png');
    background-size: cover; /* or contain */
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 72px;
}

